<launch>
  <arg name="max_speed" default="20"/>
  <node name="lane_detector" pkg="demo" type="lane_detector_canny_hough.py" output="screen"/>
  <node name="lane_tracker"  pkg="demo" type="lane_tracking_control_P.py"   output="screen">
    <param name="max_speed" value="$(arg max_speed)"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find demo)/rviz/demo.rviz"/>
</launch>
